include:
  - project: "infrastructure/gitlab-ci"
    ref: main
    file: "/templates/cloudbuild-common.gitlab-ci.yaml"
  - project: "infrastructure/gitlab-ci"
    ref: main
    file: "templates/deploy.gitlab-ci.yaml"

stages:
  - cloudbuild
  - deploy

cloudbuild:image:stage:
  only:
    - tokstock
  except:
    - tags
  extends: .cloudbuild:common

deploy:tokstock-stage:
  only:
    - tokstock
  extends: .deploy
  environment:
    name: stage
    on_stop: stop:tokstock-stage
  variables:
    K8S_NAMESPACE: ${CI_PROJECT_ROOT_NAMESPACE}-stage
    APP_CONFIG: tokstock

stop:tokstock-stage:
  only:
    - tokstock
  extends: .stop
  environment:
    name: stage
  variables:
    K8S_NAMESPACE: ${CI_PROJECT_ROOT_NAMESPACE}-stage
    APP_CONFIG: tokstock


cloudbuild:image:prod:
  only:
    - tokstock
  except:
    - tags
  extends: .cloudbuild:common


deploy:tokstock-prod:
  only:
    - tokstock
  extends: .deploy
  variables:
    K8S_NAMESPACE: ${CI_PROJECT_ROOT_NAMESPACE}-prod
    APP_CONFIG: tokstock
  environment:
    name: prod
    on_stop: stop:tokstock-prod

stop:tokstock-prod:
  only:
    - tokstock
  extends: .stop
  variables:
    K8S_NAMESPACE: ${CI_PROJECT_ROOT_NAMESPACE}-prod
    APP_CONFIG: tokstock
  environment:
    name: prod
