include:
  - project: "infrastructure/gitlab-ci"
    ref: main
    file: "/templates/cloudbuild-common.gitlab-ci.yaml"
  - project: "infrastructure/gitlab-ci"
    ref: main
    file: "templates/deploy.gitlab-ci.yaml"

stages:
  - cloudbuild
  - deploy

cloudbuild:image:stage:
  only:
    - oasis-stage
  except:
    - tags
  extends: .cloudbuild:common

deploy:stage-mainnet-venom:
  only:
    - oasis-stage
  extends: .deploy
  environment:
    name: stage
    on_stop: stop:stage-mainnet-venom
  variables:
    K8S_NAMESPACE: ${CI_PROJECT_ROOT_NAMESPACE}-stage
    APP_CONFIG: mainnet-venom

stop:stage-mainnet-venom:
  only:
    - oasis-stage
  extends: .stop
  environment:
    name: stage
  variables:
    K8S_NAMESPACE: ${CI_PROJECT_ROOT_NAMESPACE}-stage
    APP_CONFIG: mainnet-venom

cloudbuild:image:prod:
  only:
    - oasis-prod
  except:
    - tags
  extends: .cloudbuild:common

deploy:prod-mainnet-venom:
  only:
    - oasis-prod
  extends: .deploy
  environment:
    name: prod
    on_stop: stop:prod-mainnet-venom
  variables:
    K8S_NAMESPACE: ${CI_PROJECT_ROOT_NAMESPACE}-prod
    APP_CONFIG: mainnet-venom

stop:prod-mainnet-venom:
  only:
    - oasis-prod
  extends: .stop
  environment:
    name: prod
  variables:
    K8S_NAMESPACE: ${CI_PROJECT_ROOT_NAMESPACE}-prod
    APP_CONFIG: mainnet-venom
