DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432?dbname=nft
DATABASE_MAX_CONNECTIONS=5
KAFKA_CONSUMER_GROUP=nft
KAFKA_TOPIC=everscale-transactions

# List of endpoints, comma separated
STATES_RPC_ENDPOINTS=http://0.0.0.0:3087

KAFKA_SETTINGS__BOOTSTRAP_SERVERS=127.0.0.1:9092
KAFKA_SETTINGS__SECURITY_PROTOCOL=PLAINTEXT

# Add if necessary
# KAFKA_SETTINGS__SASL_USERNAME=
# KAFKA_SETTINGS__SASL_PASSWORD=
# KAFKA_SETTINGS__SASL_MECHANISM=
# KAFKA_SETTINGS__SSL_KEY_PASSWORD=
# KAFKA_SETTINGS__SSL_KEYSTORE_LOCATION=
# KAFKA_SETTINGS__SSL_KEYSTORE_PASSWORD=
# KAFKA_SETTINGS__SSL_CA_LOCATION=

# Start streaming from beginning
RESET=false

TRUSTED_AUCTION_ROOTS= # addresses of AuctionRootTip3, comma separated
TRUSTED_DIRECT_BUY_FACTORIES= # addresses of FactoryDirectBuy, comma separated
TRUSTED_DIRECT_SELL_FACTORIES= # addresses of FactoryDirectSell, comma separated
