[Unit]
Description=Indexer http rest api

[Service]
WorkingDirectory=/home/indexer-api/bin
User=indexer-api
Group=indexer-api
ExecStart=/home/indexer-api/bin/api

[Install]
WantedBy=multi-user.target